@model IdentityServer.Models.AuthViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/image.css")" />

</head>
<body>
    <div id="form-container">
        <form id="prompt-form">
            <input type="text" id="prompt-input" placeholder="Введите промпт" />
            <button type="button" onclick="handleSubmit()">Отправить</button>
        </form>

        <div id="loading-container">
            <div id="loading-text">Ваша картинка на генерации, можете подождать здесь или перейти в личный кабинет.</div>
            <a id="redirect-btn" href="/personal-area">Перейти в личный кабинет</a>
        </div>

    </div>

    <script>
        function handleSubmit() {
            const promptInput = document.getElementById('prompt-input').value;
            if (promptInput.trim()) {
                document.getElementById('loading-container').style.display = 'flex';
            }
        }
    </script>
</body>
</html>
